{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center mb-12">Products</h1>
		<div class="row g-0">
			{% for product in products %}
				<div class="col-md-3 m-3">
					<div class="card" style="width: 18rem;">
						<img src={{ asset("uploads/images/"~product.image)}} class="card-img-top imgProduct" alt="...">
						<div class="card-body">
							<a href="{{path('app_product_show', {'id':product.id})}}" class="card-link text-decoration-none">

								<h5 class="card-title">{{product.name}}</h5>
							</a>
							<p class="card-text">{{product.description|slice(0.60)}}</p>
							<p class="card-text">{{product.price}}$</p>
							<a href="" class="btn btn-outline-success">Add to cart</a>
							<p class="card-text">
								<small class="text-muted">Last updated 3 mins ago</small>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<h2 class="mt-5">Last products added</h2>
		<div class="row">
			{% for lastProductAdded in lastProductsAdded %}
				<div class="col-md-3 m-3">
					<div class="card" style="width: 18rem;">
						<img src={{ asset("uploads/images/"~lastProductAdded.image)}} class="card-img-top imgProduct" alt="...">
						<div class="card-body">
							<a href="{{path('app_product_show', {'id':lastProductAdded.id})}}" class="card-link text-decoration-none">
								<h5 class="card-title">{{lastProductAdded.name}}</h5>
							</a>
							<p class="card-text">{{lastProductAdded.description|slice(0.60)}}</p>
							<p class="card-text">{{lastProductAdded.price}}$</p>
							<a href="" class="btn btn-outline-success">Add to cart</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		{{knp_pagination_render(products,"layouts/pagination_template.html.twig")}}
	</div>
{% endblock %}
