{% extends 'base.html.twig' %}

{% block title %}New Category
{% endblock %}

{% block body %}
	<div class="container containerForm">
		<div class="card p-4 col-6">
			<h1>Add New Category</h1>
			{{ form_errors(form) }}
			{{ form_start(form) }}
			{{ form_widget(form.name,{ 'attr': {'class': 'form form-control', "placeholder": "Category Name" } }) }}
			{# <button type="submit" class="btn btn-lg btn-dark">Add</button> #}
			<input href="{{ path('app_category_add') }}" type="submit" class="btn btn-lg btn-dark" value="Add"/>
			{{ form_end(form) }}

		</div>
	</div>
{% endblock %}
