{% extends 'base.html.twig' %}

{% block title %}Order
{% endblock %}

{% block body %}
	<div class="container">

		<div class="row my-5">
			<div class="card p-4 mb-3">
				<h1 class="my-4">New Order</h1>
				{{form_start(form)}}
				{{ form_widget(form.firstName, {"attr": {"class": "form form-control", "placeholder": "First Name"}}) }}
				{{ form_widget(form.lastName, {"attr": {"class": "form form-control", "placeholder": "Last Name"}}) }}
				{{ form_widget(form.phone, {"attr": {"class": "form form-control", "placeholder": "Phone"}}) }}
				{{ form_widget(form.address, {"attr": {"class": "form form-control", "placeholder": "Address"}}) }}
				{{ form_widget(form.city, {"attr": {"class": "form form-control", "placeholder": "City"}}) }}


				<input type="submit" value="Add order" class="btn btn-dark col-12 mb-4">
				{{form_end(form)}}
			</div>
			<div class="card p-4">

				<span class="mb-2">Total to pay:
				</span>
				<h3>{{total}}$</h3>
				<span>Fees of delivery</span>
			</div>

		</div>
	</div>
	 <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

	 <script>
					$(document).ready(function(){
			const citySelector = $('#order_city');
			const cityValue = citySelector.val();
		 })
										 </script>
{% endblock %}
